In [144]:
# print() format(서식)설정 
# 파이썬 자습서 7.입력과 출력 참고내용

name = input("이름을 입력해주세요:")
birthYear = int(input("생년을 입력해주세요:"))
age = 2021 - birthYear
print(name, age)
print(name + "님의 나이는" + str(age) + "세 입니다.")

이름을 입력해주세요:이혜림
생년을 입력해주세요:1986
이혜림 35
이혜림님의 나이는35세 입니다.

In [7]:
print(f'{name}님의 나이는 {age}세 입니다') # 위에거랑 비교했을때 좀 더 직관적임

이혜림님의 나이는 35세 입니다

In [10]:
print('{}님의 나이는 {:05d}세 입니다' .format(name, age)) #d앞의 숫자5는 다섯자리로 입력한다는 뜻, :을 꼭 찍기, :05d는 다섯자리 앞쪽은 0으로 채움

이혜림님의 나이는 00035세 입니다

In [12]:
print('{:10}님의 나이는 {:05d}세 입니다' .format(name, age)) # :10 의 의미를 출력값으로 확인해보기

이혜림       님의 나이는 00035세 입니다

In [14]:
print('{1}님의 나이는 {0}세 입니다' .format(name, age)) # 인덱스번호 1을 줌으로 인해서 순서에 상관없이 출력시키고 싶은 값을 지정함

35님의 나이는 이혜림세 입니다

# Unit 9. 문자열

In [16]:
# 문자열 : ' '또는 " " 으로 감싼 여러개의 문자 , # str
# "BTS", 'python'
print(type("BTS"), type('python')) #type으로 문자열인지 확인해봄

<class 'str'> <class 'str'>

In [19]:
print('BTS')
print("BTS") #' '와 " " 가 상관없이 결과값이 같음

BTS
BTS

In [24]:
print('My name is RM.')
print('My name is 'RM'.') #'RM'앞뒤로 \를 넣어줘야 'RM' 이 출력됨
print('My name is \'RM'\.')

SyntaxError: invalid syntax (<ipython-input-24-33b4a3daa789>, line 2)

In [ ]:
# 교재 외 내용의 전달(잔디에 있음)

In [26]:
help() # 도움말 실행 # 빠져나올땐 quit(두번째 단락에 있음), 검색창에 엔터만 쳐도 됨

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [29]:
license()

See https://www.python.org/psf/license/

In [46]:
import keyword as kwd    #변수에 사용할 수 없는 예약어
print(kwd.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Unit 10. 리스트와 튜플 사용하기

In [49]:
# 리스트 : 목록, 데이터 여러개를 늘어놓다, 나열하다...
# C, C++, Java와 같은 언어에서는 배열이라고 하기도 함 (array)

# 리스트 생성하기 (아래 두 가지 방법)
# 리스트변수 = [값 나열......]
# 리스트변수 = list()

lst1 = [10, 20, 30]
print(type(lst1)) #리스트임을 확인
print(lst1) #10,20,30 각트를 연속적으로 포함하는게 리스트

<class 'list'>
[10, 20, 30]

In [51]:
lst2 = [1,2,3,'BTS', True, 10, 30] # 대괄호 사용하여 각트를 여러개 나열하여 입력
print(type(lst2))
print(lst2)

<class 'list'>
[1, 2, 3, 'BTS', True, 10, 30]

In [53]:
lst3 = list()
print(type(lst3))
print(lst3) #lst3은 리스트임을 알려줌

<class 'list'>
[]

In [57]:
range(5) #5개의 숫자를 만들어 출력하라:0,1,2,3,4 0부터의 개수

range(0, 5)

In [59]:
print(list(range(5, 10))) #5를 포함해서 9까지 (5이상, 10미만)

[5, 6, 7, 8, 9]

In [61]:
print(list(range(5, 10, 2))) #2(칸)씩 뛰어넘음

[5, 7, 9]

In [66]:
lst4 = list(range(1, 101)) #설정할때 101미만으로 해야 100까지 출력됨
print(lst4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [69]:
# 튜플사용하기
# 리스트와 비슷하지만, 튜플은 (둥근괄호) 를 사용함
# 리스트는 추가 삽입 삭제 수정 등이 자유롭지만, 튜플은 그렇지 못함

tpl1 = (1,2,3)
a = 4,5,6
tpl2 = tuple(a)
print(type(tpl1))
print(tpl1)
print(type(tpl2))
print(tpl2)

<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(4, 5, 6)

In [131]:
#lst1.tab키 누름
# 함수의 의미는 shift + tab 함께 눌러서 확인
# 파이썬자습서 5. 자료구조 참고 (다 나와있음...)

In [96]:
lst1 = [1,2,3,5]
print(lst1)
lst1.append(6) #리스트 끝에 새로운값 6을 집어넣음
print(lst1)

[1, 2, 3, 5]
[1, 2, 3, 5, 6]

In [97]:
lst1.insert(3, 4) #index 3위치에 값 4를 insert
print(lst1)

[1, 2, 3, 4, 5, 6]

In [98]:
temp=lst1.pop() #pop 
print(temp)

[1, 2, 3, 4, 5]
6

In [99]:
lst1.remove(3) # 3값을 찾아서 제거, pop과의 차이 잘 알아두기
print(lst1)

[1, 2, 4, 5]

In [101]:
lst1.index(4)

2

In [104]:
lst2 = [1,2,3,4,5]
print(lst2)
lst2.reverse() # reverse 사용시 역순으로
print(lst2)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [111]:
lst3 = [2,4,1,5,6,7,3]
print(lst3)
lst3.sort() #sort 실행시 순서대로 정렬
print(lst3)

[2, 4, 1, 5, 6, 7, 3]
[1, 2, 3, 4, 5, 6, 7]

In [112]:
lst4 = ['김남준', '김석진', '민윤기', '정호석', '박지민', '김태형', '전정국']
lst4.sort()
print(lst4)

['김남준', '김석진', '김태형', '민윤기', '박지민', '전정국', '정호석']

In [114]:
lst3.extend(lst4) #extend의 역할
print(lst3)

[1, 2, 3, 4, 5, 6, 7, '김남준', '김석진', '김태형', '민윤기', '박지민', '전정국', '정호석', '김남준', '김석진', '김태형', '민윤기', '박지민', '전정국', '정호석']

In [116]:
print(lst3[5])

6

In [120]:
lst3[5] = 999  # []번째 값을 999로 바꿈
print(lst3)

[1, 2, 3, 4, 5, 999, 7, '김남준', '김석진', '김태형', '민윤기', '박지민', '전정국', '정호석', '김남준', '김석진', '김태형', '민윤기', '박지민', '전정국', '정호석']

In [122]:
print(lst3[6:11]) #6부터 11까지 / range할때처럼 뒤의 수는 ~미만으로 침./ :사용/ 특정부분만 잘라서 가지고 옴 (=slicing)

[7, '김남준', '김석진', '김태형', '민윤기']

In [125]:
#tuple 실습

In [141]:
tpl1 = (1,2,3)
# tpl1 + . + tab을 누르면 두 메뉴가 나옴
print(tpl1.count(2))
print(tpl1.index(2))

1
1

In [142]:
# tpl1[1] = 22 로 하면 바로 변경이 안됨
# 리스트와 달리 추가 삭제 수정 등이 어려우므로 에러가 뜸
# 튜플값을 수정, 삭제하려면 *튜플을 리스트로 변경시켜서 편집하고 다시 리스트를 튜플로 변경*

tpl1 = list(tpl1)
print(type(tpl1))
print(tpl1) # tuple을 리스트로 변환

<class 'list'>
[1, 2, 3]

In [143]:
tpl1.append(4)
tpl1[1] = 22
tpl1 = tuple(tpl1) #리스트로 변환한걸 다시 튜플로변환
print(tpl1)

(1, 22, 3, 4)

# Unit 11. 시퀀스자료형 활용하기

In [147]:
a = [0,10,5,9,7,15,87,33]
#특정값이 있는지 확인 : 값 in 시퀀스객체
99 in a #실행해보면 a 라는 곳에 99가 있는지 확인가능 (결과는 False)
7 in a #결과는 True
print(7 not in a) # 7이 a에 없다는 것에 대한 판단(참/거짓)결과값

False

In [149]:
a = [1, 3, 5]
b = [2, 4, 6]
c = a + b #concatinate (결합의 의미-새로운 것으로 만드는.../ add와의 의미와는 다름*)
print(c)

[1, 3, 5, 2, 4, 6]

In [151]:
a * 3 # a라는 시퀀스 객체를 '3'times *반복함* / 각각의 객체에 3을 곱하는게 아님 주의

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [153]:
len(a) #length는 길이 (개수...) - a라는 시퀀스의 길이(?) 랭스를 구해서 아레 범위정할때 쓸수있음

3

In [160]:
a = list(range(99))
print(a) #[]안의 값
print(a[-1]) # 제일 끝에서 1번째 / 맨밑에 결과나옴
print(a[-23:-15]) # 뒤에서 23번째에서 15번째까지
#print(a[1000]) 를 할 경우 list index out of range 라고 에러가 뜸 (1000번째 숫자는 없음 : index범위 벗어남)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
98
[76, 77, 78, 79, 80, 81, 82, 83]

In [162]:
del a[-1] #del은 지우는것 (a에서 뒤에서 첫번째꺼 지움)
print(a[-1])

97

In [164]:
del a
print(a)

NameError: name 'a' is not defined

# Unit 12. 딕셔너리 사용하기

In [168]:
#딕셔너리
#딕셔너리 변수 = 키에 의미부여하고 그 값을 찾아가는것.. 
#              = {키1:값1, 키2:값2, ...}
#              = dict()
a = {"국어":100, "영어":95, "수학":98} #이게 가장 일반적. :대신에 = 써도 됨
print(a)
print(type(a)) 
print(a["국어"])

{'국어': 100, '영어': 95, '수학': 98}
<class 'dict'>
100

In [170]:
# a + . +tab키 = 사용할 수 있는것들 나옴,,, 
a.keys()

dict_keys(['국어', '영어', '수학'])

In [172]:
a.values()

dict_values([100, 95, 98])

In [175]:
a.get("영어")

95